*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Source Code Pro', monospace;
}
.navbar{
	background: gray;
	height: 90px;
	display: flex;
	align-items: center;
	padding: 20px;
}
.nav_fix{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: white;
}
p{
	color: #555;
}
.container{
	max-width: 1460px;
	margin-bottom: 30px;
	padding-left: 15px;
	margin-right: 25px;
	left: 0;
	right: 0;

}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.clo-2 img{
	max-width: 1420px;
	height: 520px;
}
.clo-2 h1{
	font-size: 70px;
	line-height: 60px;
	margin: 25px 0;
}
.col-1 img{
	width: 1480px;
}
.btn{
	display: inline-block;
	background: #26BBD7; 
	color: white;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background: #563434;
}
.header{
	background: radial-gradient(#6666ff,#99ccff)
}
.header .row{
	margin-top: 20px;
}
.header h4{
	background: white;
	color: white;
}
.header h2{
	background: orange;
	color: white;
	text-align: center;
}
.Categories{
	margin: 70px 0;
}
.col-3{
	flex-basis: 30px;
	min-width: 250px;
	margin-bottom: 30px;
	transition: transform 0.5s;
}
.col-3 img{
	width: 100%;
	height: 200px;
	margin-top: -60px;
}
.small-container p{
	color: #cd329c;
}
.small-container h3{
	font-family: verdana;
}
.col-4 img{
	width: 250px;
	height: 200px;
	margin-top: -20px;
	transition: transform 0.5s;
}
.col-3:hover{
	transform: translate(-5px);
}
.col-4:hover{
	transform: translate(-5px);
}
h5{
	text-align: center;
	margin: 0 auto 60px;
	position: relative;
	line-height: 60px;
	font-family: cursive;
	font-size: 22px;
}
h5::after{
	content: '';
	background: #ff523b;
	width: 120px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}
h6{
	text-align: center;
	margin: 0 auto 30px;
	position: relative;
	line-height: 30px;
	font-family: cursive;
	font-size: 15px;
}
h2{
	background: orange;
	color: white;
	text-align: center;
}
.container2 .col-5{
	flex-basis: 50%;
	padding: 10px;
	max-width: 500px;
	margin-bottom: 50px;
}
.col-5 img {
	width: 50%;
	object-position: center;
	transition: transform 0.5s
}
.col-5:hover{
	transform: translate(10px);
}
.container2 .col-5a{
	flex-basis: 50%;
	padding: 10px;
	max-width: 500px;
	margin-bottom: 50px;
}
.col-5a img {
	width: 100%;
	transition: transform 0.5s
}
.col-5a:hover{
	transform: translate(10px);
}
.container3 {
	flex-basis: 50%;
	padding: 10px;
	max-width: 500px;
	margin-bottom: 50px;
	position: left;
}
.col-6 img {
	width: 100%;
	height: 85%;
	object-position: center;
}
.span1{
	margin-left: 160px;
	font-weight: bold;
	color: #cd329c;
}
.span2{
	font-weight: 15px;
}
.span3{
	margin-left: 180px;
	font-weight: bold;
	color: #cd329c;
}
.row h4{
	color: black;
	margin-left: 160px;
}
.checked1 {
  color: orange;
  margin-left: 160px;
}
.checked2 {
  color: orange;
  margin-left: 3px;
}
.checked3 {
  color: orange;
  margin-left: 3px;
}
.checked4 {
  color: orange;
  margin-left: 3px;
}
.checked5 {
  color: orange;
  margin-left: 3px;
}
* {
	box-sizing: border-box;
}
.column{
	float: left;
	width: 33.33%;
	padding: 5px;
	transition: transform 1s;
}
.column img{
	width: 490px;
	padding: 20px;
	height: 600px;
}
.row::after{
	content: "";
	display: table;
	clear: both;
}
.container1 img{
	margin-left: 50px;
}
.offer p{
	background: orange;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	color: white
}
.offer{
	background: radial-gradient(#6666ff,#99ccff);
	margin-top: 10px;
	padding: 30px 0;
}
.col-2 .offer-img{
	position: left;
	width: 700px;
}
.small{
	color: #555;
	font-style: cursive;
}
.brands{
	margin-left: 100px;
	margin-right: 100px;
	margin: 100px auto;
}
.col-6 {
	width: 160px;
}
.col-6 img{
	width: 200px;
	cursor: pointer;
	filter: grayscale(100%);
}
.col-6 img:hover{
	filter: grayscale(0);
}
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer .footer-col-2 img{
	width: 200px;
	height: 200px;
}
.footer p{
	color: #8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex: 1;
	text-align: center;
}
.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}
ul{
	list-style-type: none;
}
.app-logo{
	margin-top: 20px;
}
.app-logo img{
	width: 150px;
}
.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}
.copyright{
	text-align: center;
}
.menu-icon{
	width: 28px;
	margin-left: 20px;
}
